{% extends 'base.html' %}

{% block content %}
    <h1>Выбрать пациента</h1>
    <div class="col-6">
    <form method="post" action="{{ url_for('select_patient') }}">
    <table class="table table-striped" >
        <thead>
            <tr>
              <th>Выберите признак</th>
              <th>Выберите условие</th>
              <th>Выберите значение</th>
            </tr>
        </thead>
        <tbody>
            <tr>
	      <td valign="top" width="75%">
                 <label for="sign"></label>
                 <select id="sign" name="sign">
                    <option value="name">Кличка</option>
                    <option value="details">Подробности</option>
                    <option value="weight">Вес</option>
                    <option value="age">Возраст</option>
                    <option value="owner_name">Имя владельца</option>
                 </select>
              </td>
              <td valign="top" width="75%">
                 <label for="condition"></label>
                 <select id="condition" name="condition">
	            <option value=">">Больше</option>
                    <option value="<">Меньше</option>
                    <option value="==">Равно</option>
                    <option value="!=">Не равно</option>
	         </select>
	      </td>
	      <td valign="top" width="75%">
                 <label for="value" class="form-label"></label>
                 <input type="text" class="form-control" id="value" name="value" required>

  	      </td>
  	    </tr>
  	</tbody>
    </table>
            <button type="submit" class="btn btn-primary">Применить</button>
    </form>
    </div>
{% endblock %}
